*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body{
    background-color: var(--primary-color);
}

:root{
    --primary-color:#202020;
    --secondary-color:#FFFFFF; 
}

.light-theme{
    --primary-color:#e8e8e8;
    --secondary-color:#202020;
}

.navbar{
    background-color: rgb(233, 217, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px;
    margin-left: 50px;
}

#sunToggle{
    cursor: pointer;
    width:21px;
    left:272px;
    top: 44px; 
    position: absolute;
}/*applies also on the moon icon since we toggle em in js*/


.navbar-links {
    height: 100%;
}

.navbar-links ul{
    display: flex;
    margin-right: 40px;
    padding: 0;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration:none;
    font-size: 20px;
    color: black;
    padding:35px;
    display: block;
    }
.navbar-links li:hover{
    background-color:rgba(219, 203, 55, 0.466);
}    

.toggle-button{
    top: 12px;
    right: 16px;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height:20px;
    width:30px;
    
}

.toggle-button .bar{
    height:4px;
    width:100%; 
    border-radius:10px; 
    background-color:black;
}


h1 span{
    color: rgb(231, 216, 76);
}

#aboutMe{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 120px;
}

#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 35px; 
 }

#aboutMe #myImg{
    width: 250px;
    margin-top: 35px;
    margin-bottom: 35px;
    
}

#aboutMe h1{
   color: var(--secondary-color);
   letter-spacing: 1px;
   margin-bottom: 40px;
}

#aboutMe p{
    color: var(--secondary-color);
    width:50% ;
    text-align: center;
    margin-bottom: 50px;
}

#skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
 }

 #contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 35px;
 }

#skills h1{
    color: var(--secondary-color);
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 60px;
    margin-top:50px;
}

#skills p{
    color: var(--secondary-color);
    width:50% ;
    text-align: center;
}

#portfolio h1{
    color: var(--secondary-color);
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 100px;
    margin-top:50px;
}

#portfolio p{
    color: var(--secondary-color);
    width:50% ;
    text-align: center;
}

.container {
    position: relative;
}

#waves{
    width: 100%;
    margin-top: 50px;
}

.copyRights{
    font-size: .85rem;
    color: rgb(49, 47, 47);
    bottom:10px;
    left: 10px;
    position: absolute;
    background-color:rgb(231, 216, 76);
}

#contact h1{
    color: var(--secondary-color);
    margin-bottom: 100px;
    letter-spacing: 1px;
}

#contact p{
    color: var(--secondary-color);
    padding: 35px;
    letter-spacing: 1px;
}

#contact .box{
   height:150px;
   width: 50%;
   background:#FFFFFF;
   border-radius: 30px;
   display: flex;
   justify-content:space-around;
   align-items: center;
   box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}

#contact .box .socialIcons{
    display: flex;
    justify-content:space-around;
    width: 100%;  
}
 /*both icons*/
#contact .box .socialIcons a .fab{
    font-size: 50px;
}

#contact .box .socialIcons a .fa-twitter{
    color: rgb(0, 167, 230)
}

#contact .box .socialIcons a .fa-linkedin-in{
    color: rgb(27, 113, 182);
}

#contact .box .socialIcons a .fa-github{
    color: rgb(179, 15, 230);
}


/*scialicons effect*/
#contact .box .socialIcons a:hover {
    transform:translate(0, -10px);
}

#skills .skill-bars{
    color: rgb(0, 0, 0);
}

/*skills bar*/
.skill-bars{
    padding: 25px 30px;
    width: 50%;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1); 
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #5d5e63;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 75%;
  }
  .bar .progress-line.css span{
    width: 50%;
  }
  .bar .progress-line.JS span{
    width: 40%;
  }
  .bar .progress-line.vidEditting span{
    width: 45%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  

/*for smaller screens */
@media(max-width:860px){ 
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none; 
        width: 100%;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 8px 16px;
    }

    .navbar-links.active {
        display: flex;
    }

    #aboutMe #myImg{
        width: 150px;
        margin-top: 50px;
    }

    .logo{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 12px;
        margin-left: 50px;
    }

    #sunToggle{
        left:210px;
        top: 12px;
        cursor: pointer;
        position: absolute;
        width:18px;
     } 

    .navbar-links ul{
        display: flex;
        margin:0;
        padding: 0;
    }

    #contact .box .socialIcons a .fab{
        font-size: 30px;
    }

    #contact .box{
        height:80px;
        width: 35%;
     }

     #waves{
        width: 100%;
        margin-top: -100px;
    }

}
